body {
  display: flex;
  background: rgb(225, 94, 94);
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0px;
}
.calculator {
  width: 300px;
  text-align: center;
  padding: 20px;
  border: 1px solid#ccc;
  border-radius: 5px;
}
#display {
  text-align: right;
  width: 92%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.button {
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}
.clear {
  grid-column: span 2;
}
